<div class="sidebar-header">
    
    <button class="close-btn"
        onclick="closeSidebar()">
        ✕ Close
    </button>

    <img
        src="images/logo.png"
        alt="EngiWare Logo"
        class="sidebar-logo">

</div>

    <button onclick="goToHub()">
        🏠 Home
    </button>

    <button onclick="history.back()">
        ⬅ Back
    </button>

    <button onclick="goToStreams()">
        📚 Study Materials
    </button>

    <button onclick="window.location.href='bookmarks.html'">
        ⭐ My Bookmarks
    </button>

    <button onclick="comingSoon('💻 Coding Hub')">
        💻 Coding Hub
    </button>

    <button onclick="comingSoon('🎯 Placement Cell')">
        🎯 Placement Cell
    </button>

    <button onclick="comingSoon('📖 GATE Preparation')">
        📖 GATE Prep
    </button>

    <button onclick="comingSoon('🤖 AI Tools')">
        🤖 AI Tools
    </button>

    <button onclick="comingSoon('⚙ Settings')">
        ⚙ Settings
    </button>

    <button onclick="window.location.href='profile.html'">
    👤 My Profile
    </button>

    <button
id="adminBtn"
style="display:none;"
onclick="window.location.href='admin.html'">

🛠 Admin Dashboard

</button>

    <br>
    <hr>
    <br>

    <button id="logoutBtn">
        🚪 Logout
    </button>